.stores{
    .stores-wrapper {
        display: flex;
        flex-direction: column;
        > div {
            display: flex;
            margin-bottom: 10px;
            height: 120px;
            figure {
                max-width: 46%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
                h3 {
                    color: #573123;
                }
                p {
                    color: #9B9B9B;
                }
                p.mandar-mensagem {
                    display: flex;
                    align-items: center;
                    img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

}