.Home-Page {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    div.banners > * {
        display: block;
        margin-bottom: 15px;
        &.red-box {
            background-color: #fa0008;
            color: white;
            text-align: center;
            padding: 10px 4px;
        }
    }
    .quick-access {
        width: 100%;
        overflow-x: auto;
        ul {
            display: flex;
            width: calc(13 * 80px);
            li {
                width: 80px;
                padding: 0 5px;
            }
        }
    }
}