.Stores-Page {
    margin-bottom: 80px;
    .location {
        padding: 10px 0;
    }
    .banner {
        padding: 20px 0;
        figure img {
            width: 100%;
        }
    }
}