.Store-Page {
    margin-bottom: 80px;
    .location {
        padding: 10px 0;
    }
    .banner {
        padding: 20px 0;
        figure img {
            width: 100%;
        }
    }
    .store-details {
        display: flex;
        margin-bottom: 10px;
        figure {
            width: 50%;
        }
        > div {
            padding: 10px;
            color: #573123;
            figure {
                width: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p.mandar-mensagem {
                display: flex;
                align-items: center;
                img {
                    margin-right: 5px;
                }
            }
        }
    }
}