.Main-Header {
    position: relative;
    background-color: #fa0008;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .back {
        position: absolute;;
        font-size: 36px;
        left: 0;
        color: white;
        padding: 0 5px;
    }
    > div {
        width: 100%;
        min-height: 52px;
        flex: 1 1 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        &:first-child {
            padding-bottom: 7px;
        }
        &:last-child {
            padding-top: 7px;
        }
    }
    .TextLogo {
        width: 120px;
        fill: white;
    }
}